@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,400;1,900&display=swap');

.ListComp {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 60px;
}

.AddComp {
    background-color: #21cdff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 16px 16px 0 0;
    margin-left: 40px;

}